
@viewport{
	zoom:  1.0;
	width:  extend-to-zoom;
}
@-ms-viewport{
	width:  extend-to-zoom;
	zoom: 1.0;
}


#header {
	min-height: 65px;
	background-color: whitesmoke;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

}



#acservicelogo{
	width: 100%;
}

#query{
	min-height: 50px;
	background-color: #1A5364;
	font-family: cursive;
	padding-left: 18%;
	font-size: 80%;
}

#queryline{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#phoneno{
	font-size: 140%;
	color: black;
	font-family: cursive;
	margin-top: 10px;
	font-weight: bold;
	margin-left: 18%;
}


#nav_bar{
	min-height: 60px;
 		margin-left: 0.3%;
	margin-right: 0.3%;
	border-bottom: 1px solid #000000;
	padding: 0px 20px 0px 20px;
}



#nav_bar ul {
	padding: 0;
	padding-top: 0px;
	list-style: none;
}

#nav_bar ul li {
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}

#nav_bar ul li a {
	text-decoration: none;
	color: #ffffff;
	background: #1A5364;
	border: 1px solid black;
	border-bottom: none;
	font-weight: bold;
	padding: 20.5px 20px 20.5px 20px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	width: 75px;
	display: block;
	text-align: center;
}

#nav_bar ul li a:hover {
	text-decoration: none;
	color: #000000;
	background: #96e0e9;
}


#nav_bar ul li a#onlink {
	background: #ffffff;
	color: #000000;
	border-bottom: 1px solid #ffffff;
<<<<<<< Updated upstream
=======
}
#nav_barul li a#onlink:hover{
	background: #ffffff;
	color: #000000;
}


.main_container{
	margin-left: 0.3%;
	margin-right: 0.3%;
	min-height: 400px;
	padding: 20px;
	border: 1px solid #000000;
	border-top: none;
}

.main_container h1{
	margin: 0;
	padding: 0;
	font-family: 'Della Respira', serif;
}

.main_container h3{
	font-family: 'Della Respira', serif;
	font-weight: bolder;
}

#trusted{
	padding-top: 0.5%;
}

#avaiableservice{
	padding-top: 1%;
}

.main_container p{
	padding-left: 1.5%;
	font-weight: bold;
	font-family: 'Chakra Petch', sans-serif;
>>>>>>> Stashed changes
}
#nav_barul li a#onlink:hover{
	background: #ffffff;
	color: #000000;
}


.main_container{
	margin-left: 0.3%;
	margin-right: 0.3%;
	min-height: 400px;
	padding: 20px;
	border: 1px solid #000000;
	border-top: none;
}

.main_container h1{
	margin: 0;
	padding: 0;
	font-family: cursive;
}

.main_container h3{
	font-family: cursive;
}

#trusted{
	padding-top: 0.5%;
}

#avaiableservice{
	padding-top: 1%;
}

.main_container p{
	padding-left: 1.5%;
	font-family: cursive;
}

.main_container p1{
	font-family: cursive;
	font-weight: bold;
}

.main_container p2{
	font-family: cursive;
	text-align: justify;
}




#copyright {
	min-height: 40px;
	font-family: monospace;
	font-size: 17px;
	padding-top: 12px;
	background-color: #d5d5d5;
}




.footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: black;
}

.footer-content{
	display: flex;
	background-color: #474747;
	margin-left: 0.3%;
	margin-right: 0.3%;
}

.footer-content .box{
	flex-basis: 50%;
	padding: 10px 20px;

}

.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
}

.box .content{
	margin: 20px 0 0 0;
}

.box .content p{
	text-align: justify;
	color: white;
}


.left .content .social{
	margin: 20px 0 0 0;
}


.left .content .social a{
	padding: 0 2px;
	color: black;

}

.left .content .social a span{
	height: 40px;
	width: 40px;
	background: white;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}

.left .content .social a:hover{
	color: white;

}

.left .content .social a span:hover{

	background: black;

}

.center .content .fas{
	font-size: 1.4375rem;
	height: 45px;
	width: 45px;
	color: white;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
}

.center .content .text{
	font-size: 1.2rem;
	font-weight: 500;
	padding-left: 10px;
	color: white;
}

.right .content .text{
	color: white;
	font-size: 1.2rem;
}

.right form .msg{
	margin-top: 15px;
}

.right form input, .right form textarea{
	width: 96.5%;
	font-size: 1.0625rem;
	background:  #474747;
	padding-left: 10px;
	border: 1px solid white;
}

.right form input:focus, .right form textarea: focus{
	outline-color: #3498db;
}

.right form input{
	height: 35px;
	color: white;
}

.right form textarea{
	color: white;
}

.right form .btn{
	margin-top: 10px;
}
.right form .btn button{
	height: 40px;
	width: 100%;
	border: 2px solid black;
	outline: none;
	background: white;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
}

.right form .btn button:hover{
	background: #000;
	color: white;
}










<<<<<<< Updated upstream
=======
.main_container p1{
	font-family: 'Neuton', serif;
	font-size: 20px;
	font-weight: 700;
}

.main_container p2{
	font-family: 'Chakra Petch', sans-serif;
	text-align: justify;
	font-weight: bold;
}




#copyright {
	min-height: 40px;
	font-family: monospace;
	font-size: 17px;
	padding-top: 12px;
	background-color: #d5d5d5;
}




.footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: black;
}

.footer-content{
	display: flex;
	background-color: #474747;
	margin-left: 0.3%;
	margin-right: 0.3%;
}

.footer-content .box{
	flex-basis: 50%;
	padding: 10px 20px;

}

.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
}

.box .content{
	margin: 20px 0 0 0;
}

.box .content p{
	text-align: justify;
	color: white;
}


.left .content .social{
	margin: 20px 0 0 0;
}


.left .content .social a{
	padding: 0 2px;
	color: black;

}

.left .content .social a span{
	height: 40px;
	width: 40px;
	background: white;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}

.left .content .social a:hover{
	color: white;

}

.left .content .social a span:hover{

	background: black;

}

.center .content .fas{
	font-size: 1.4375rem;
	height: 45px;
	width: 45px;
	color: white;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
}

.center .content .text{
	font-size: 1.2rem;
	font-weight: 500;
	padding-left: 10px;
	color: white;
}

.right .content .text{
	color: white;
	font-size: 1.2rem;
}

.right form .msg{
	margin-top: 15px;
}

.right form input, .right form textarea{
	width: 96.5%;
	font-size: 1.0625rem;
	background:  #474747;
	padding-left: 10px;
	border: 1px solid white;
}

.right form input:focus, .right form textarea: focus{
	outline-color: #3498db;
}

.right form input{
	height: 35px;
	color: white;
}

.right form textarea{
	color: white;
}

.right form .btn{
	margin-top: 10px;
}
.right form .btn button{
	height: 40px;
	width: 100%;
	border: 2px solid black;
	outline: none;
	background: white;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
}

.right form .btn button:hover{
	background: #000;
	color: white;
}










>>>>>>> Stashed changes
#header, #query, #bodylogo, #content, #copyright {
	margin-left: 0.3%;
	margin-right: 0.3%;

	box-shadow: 3px 5px 7px #666666;
	border: px solid black;
}