@media print{
	body *:not(#div1):not(#div1 *){
		visibility: hidden;
	}
	#div1{
		position: absolute;
		top: 0;
		left: 0;
	}
}


#div1{
	width: 800px;
	height: 900px;
	margin: 0 auto;
	border-radius: 15px;
}

.header{
	width: 297px;
	height: 5px;
	background-color: ;
	float: left;
	padding: 40px;
	margin: 10px;
}

#logo{
	width: 270px;
	margin-top: -15px;
	margin-left: -40px;
}

#invoice{
	margin-top: 10px;
	text-align: right;
	margin-right: -20px;
	font-family: 'Chakra Petch', sans-serif;
	font-weight: bolder;
}

.header2{
	width: 297px;
	height: 5px;
	background-color:;
	float: left;
	padding: 40px;
	margin: 10px;
}


.col1{
	width: 400px;
	height: 110px;
	background-color:;
	float: left;
	padding: 40px;
	margin: 10px;
}

.col2{
	width: 188px;
	height: 110px;
	background-color:;
	float: left;
	//border: 1px solid black;
	padding: 40px;
	margin: 10px;
}

#invoiceto{
	margin-left: -25px;
	margin-top: -40px;
	font-family: Ubuntu;
}

.invoicetotext{
	border: none;
	margin-left: -25px;
	margin-top: -40px;
	width: 350px;
	height: 30px;
	font-family: Ubuntu;
	font-weight: bolder;
}

#invoicefrom{
	text-align: right;
	margin-right: -30px;
	margin-top: -40px;
	font-family: Ubuntu;
}

.invoicetotext1{
	border: none;
	margin-left: -15px;
	margin-top: -40px;
	width: 230px;
	height: 30px;
	font-family: Ubuntu;
	font-weight: bolder;
	text-align: right;
}

#ordernodata{
	font-family: Ubuntu;
	text-align: center;
}

#orderno{
	font-family: Ubuntu;
	font-weight: bolder;
	font-size: 20px;
	width: 90px;
	border: none;
}

#tabletr{
	font-family: Ubuntu;
	margin-left: 20px;
}

.tabledata{
	font-family: Ubuntu;
	width: 80px;
	font-weight: bolder;
	border: none;
	font-size: 15px;
}

#spaylogo{
	height: 35px;
}

.tabledatataka{
	font-family: Ubuntu;
	width: 28px;
	font-weight: bolder;
	border: none;
	font-size: 15px;
}

.paid{
	width: 320px;
	height: 210px;
	background-color:;
	float: left;
	//border: 1px solid black;
	padding: 40px;
	margin: 10px;
	margin-top: 50px;
}

.signature{
	width: 265px;
	height: 210px;
	background-color:;
	float: left;
	//border: 1px solid black;
	padding: 40px;
	margin: 10px;
	margin-top: 50px;
}

#paidlogo{
	height: 200px;
	margin-left: 20px;
}

.signature{
	margin-left: 10px;
}
.sigimage{
	//border: 1px solid red;
	height: 160px;
	margin: 10px;
}

.sigtext{
	height: 80px;
	margin-left: 0px;
	margin-top: -15px;
	text-align: center;
	font-family: Uchen;
}

#siglogo{
	height: 80px;
	margin-left: 20px;
	margin-top: 90px
}

#printinvoice, #pushbutton{
    text-align: center;
    height: 40px;
    background-color: tomato;
    color: white;
    width: 20%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    float: center;
    margin-left: 40%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bolder;
    font-size: 23px;
}